* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 25px;
    font-family: sans-serif;
    padding-bottom: 20px;
    font-weight: bold;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    margin: 30px;
}

.input, .pass {
    padding-bottom: 20px;
}

.header {
    display: flex;
    height: 100px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100%;
    flex: 1;
    border: 1px solid;
}

.banner {
    height: 100%;
    flex: 3;
    border: 1px solid;
}

.menu {
    display: flex;
    height: 50px;
    width: 100%;
    text-align: center;
    border: 1px solid;
}


.home, .product, .order, .logout {
    height: 50px;
    width: 10%;
    line-height: 50px;
    border: 1px solid;
}

.order {
    margin-left: calc(80%);
    border: 1px solid;
}

.main {
    display: flex;
    height: 500px;
    width: 100%;
    border: 1px solid;
}

.slideBar {
    height: 500px;
    width: 30%;
    border: 1px solid;
}

.listproduct {
    height: 500px;
    width: 70%;
    border: 1px solid;
}
.admin{
    height: 100vh;
    display: flex;
    width: 100%;
}
.main-details{
    flex: 5;
}
.product-order {
    flex: 1;
    border: 1px solid;
    padding-top: 5%;
}

.menuAdmin {
    height: 10%;
    border: 1px solid;
    text-align: center;
    line-height: 4;
}

.listUser {
    padding: 30px;
    width: 100%;
    height: 90%;
    border: 1px solid;
    text-align: center;
}

.product-order-item{
    border: 1px solid;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    margin: 0 50px;
    padding: 10px;
}
.add {
    width: fit-content;
    height: fit-content;
    border: 1px solid;
    font-size: 25px;
    padding: 10px;
}